body {
  background-color: #f2f2f2;
}

.content {
  display: grid;
  grid-template-columns: 400px 4fr;
  /* grid-template-rows: repeat(5, 1fr); */
  /* column-gap: 20px; */
  row-gap: 50px;
}

.content img {
  max-width: 250px;
  max-height: 250px;
  max-height: fit-content;
  margin: 20px auto;
  margin-left: 50px;
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
}

h2 {
  margin-top: 30px;
  color: #0b7dda;
}

.content div {
  width: 80%; /* 80% width */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin: 20px auto;
  margin-bottom: 16px; /* Bottom margin */
  padding-left: 15px;
  background-color: white;
}

#note {
  width: 80%;
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin: 20px auto;
  margin-bottom: 16px; /* Bottom margin */
  padding-left: 15px;
  background-color: white;
}

p {
  margin-left: 10px;
  margin-right: 10px;
}

footer p {
  display: grid;
  justify-content: center;
}

.social {
  display: grid;
  grid-template-columns: 64px 64px 64px;
  justify-content: center;
}

.repair_img {
  background: url(../images/R.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;
  background-position: bottom left;
}

.new_deck_img {
  background: url(../images/500px-Backyard_deck.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;
  background-position: bottom left;
}

.boards_img {
  background: url(../images/cropped_boards.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;
  background-position: bottom left;
}

.fence2_img {
  background: url(../images/fence2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;
  background-position: bottom left;
}
