body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-color: aquamarine;
}

h1 {
  color: brown;
}

.inline {
  display: inline-block;
  float: right;
}
.a1,
.a2 {
  animation: blinking 1.5s infinite;
  font-size: 20px;
}
@keyframes blinking {
  0% {
    color: red;
  }
  47% {
    color: #000;
  }
  62% {
    color: transparent;
  }
  97% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}
